div{
    background-color:#f8f8da;
    float:none;
    align-content: center;
}
footer{
    text-align:center;
    padding:1px;
    background-color:darkslategray;
    color:white;
    border-radius:10px;
}

section{
    margin-left:10px;
    border-radius:10px;
    background-color:white;
}

#banner{
    text-align:center;
    background-color:#108b9e;
    border-radius:none;
    color:white;
    padding:1px;
    font-family:sans-serif;
}

#highlight{
    color:sandybrown;
}

#topnav{
    background-color:brown;
    padding-bottom:2px;
    font-family: tahoma;
    
}
#topnav ul{
    list-style: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333333;
}
#topnav li{
    float:left;
}
#topnav a{
    display:block;
    color:white;
    padding:16px;
    text-decoration:none;
    text-align:center;
}

#topnav a:hover{
    background:saddlebrown;
}

#leftnav{
    background-color:brown;
    padding-right:2px;
    font-family:tahoma;
    float:left;
}

#leftnav ul{
    list-style:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    background-color:#333333;
}
#leftnav li{
    float:bottom;
}
#leftnav a{
    display:block;
    color:white;
    padding:16px;
    text-decoration:none;
    text-align:left;
}
#right{
    float:right;
    background-color:brown;
    padding:2px;
    margin:none;
    border-radius:10px;
}
#right form{
    background-color:white;
    border-radius:10px;
    padding:10px;
    margin:2px;
}
#login{
    float:right;
    background-color:brown;
    padding:2px;
    margin: none;
    border-radius:10px;
}
#login form{
    background-color:white;
    border-radius=10px;
    padding:10px;
    margin:2px;
}